# EditorConfig is awesome: https://editorconfig.org/

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space

[*.{py,rst,ini}]
indent_style = space
indent_size = 4

[*.py]
max_line_length = 88

[*.{html,css,scss,json,yml}]
indent_size = 2

[*.csv]
end_of_line = crlf

[*.bat]
indent_style = tab
end_of_line = crlf

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[LICENSE]
insert_final_newline = false

[Makefile]
indent_style = tab
