# Requirements required by this package:
-r requirements_setup.txt

# Requirements needed for development & build & testing
pytest~=3.0.7 # pyup: ignore
flexmock~=0.10.2 # pyup: ignore
coverage~=4.3.4 # pyup: ignore
coveralls~=1.1 # pyup: ignore
wheel~=0.29.0 # pyup: ignore
setuptools~=34.3.3 # pyup: ignore
docutils~=0.13.1 # pyup: ignore
pygments~=2.1.3 # pyup: ignore
flake8~=3.3.0 # pyup: ignore
invoke==0.12.2 # pyup: ignore
tox # pyup: ignore
