name: "Development"

on:
  push:
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  test:
    name: Run tests

    strategy:
      matrix:
        python-versions: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]
        django-versions: [ "4.2.*", "5.0.*", "5.1.*", "5.2.*", "6.0.*" ]
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        exclude:
          - python-versions: "3.10"
            django-versions: "6.0.*"
          - python-versions: "3.11"
            django-versions: "6.0.*"
          - python-versions: "3.13"
            django-versions: "4.2.*"
          - python-versions: "3.13"
            django-versions: "5.0.*"
          - python-versions: "3.14"
            django-versions: "4.2.*"
          - python-versions: "3.14"
            django-versions: "5.0.*"
          - python-versions: "3.14"
            django-versions: "5.1.*"
          - python-versions: "3.14"
            django-versions: "5.2.*"
    defaults:
      run:
        shell: bash
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-versions }}

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 2.0.0
          virtualenvs-create: true
          virtualenvs-in-project: true
          virtualenvs-path: .venv
          installer-parallel: true

      - name: Check pyproject.toml
        run: |
          poetry check -vv -n

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-

      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: |
          poetry install -vv --no-interaction

      - name: Install Django
        run: |
          poetry run pip install --upgrade django==${{ matrix.django-versions }}

      - name: Install Task
        uses: arduino/setup-task@v2
        if: steps.cached-task.outputs.cache-hit != 'true'
        with:
          version: 3.4.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run linters
        run: |
          poetry run task lint

      - name: Run unittests
        run: |
          poetry run task coverage

      - name: Build wheels and source tarball
        run: |
          poetry build -vv -n

      - name: Check project build
        run: |
          poetry run task build_check

      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
