name: "Preview"

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  publish_dev_build:
    name: Preview the package
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-versions: [ "3.14" ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-versions }}

      - name: Install Poetry
        run: |
          pipx install poetry==2.0.0
          poetry config virtualenvs.create true
          poetry config virtualenvs.in-project true

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ matrix.python-versions }}-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            venv-${{ runner.os }}-${{ matrix.python-versions }}-

      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: |
          poetry install -vv --no-interaction

      - name: Install Task
        uses: arduino/setup-task@v2

      - name: Run linters
        run: |
          poetry run task lint

      - name: Run unittests
        run: |
          poetry run task coverage

      - name: Build wheels and source tarball
        run: |
          poetry version $(poetry version --short)-dev.$GITHUB_RUN_NUMBER
          poetry version --short
          poetry build

      - name: publish to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_API_TOKEN}}
          repository-url: https://test.pypi.org/legacy/
          skip-existing: true
